.container{
    height: 500px;
    width: 800px;
    margin: auto;
    /* margin-top: 100px; */
    border: solid black 1px;
    display: grid;
    grid-template-rows: 100px auto auto;
    grid-template-columns: auto auto 100px;
    /* justify-content: end;
    align-content: end; */
    grid-template-areas:
    "one one two"
    "three . five"
    "three four five";
}

.child{
    display: block;
}

.child-1{
    grid-area: one;
    background-color: yellow;
}

.child-2{
    grid-area: two;
    background-color: red;
}

.child-3{
    grid-area: three;
    background-color: blanchedalmond;
}

.child-4{
    grid-area: four;
    background-color: aqua;
}

.child-5{
    grid-area: five;
    background-color: green;
}