body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #151a23;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background-color: #0e1118;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 50px;
}


h1 {
    text-align: center;
    color: #e6e3e5;
}

#task-form {
    display: flex;
    margin-bottom: 20px;
}

#task-form button{
    border-radius: 0px 10px 10px 0px;
}

#task-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #44464d;
    border-radius: 10px 0px 0px 10px;
    background-color: #0c1018;
    color: #ffffff;
}

#task-input:focus{
    border: 1px solid #ffffff;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #264983;
    color: white;
    border: none;
    border-radius: 10px;
}


.filter-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#all{
    border-radius: 10px 0px 0px 10px;
}

#active{
    border-radius: 0px;
}

#completed{
    border-radius: 0px 10px 10px 0px;
}

.filter-buttons button {
    background-color: #0d1119;
    color: #f5f5f6;
    border: 1px solid #1e2129;
    margin: 0px;
}

.filter-buttons button:hover{
    background-color: #1d2533;
}

.filter-buttons button.active {
    background-color: #264884;
    color: white;
}

#task-list {
    list-style-type: none;
    padding: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #12171f;
    color: #fffdff;
    border-radius: 4px;
}

.task-item.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.complete-button:hover{
    background-color: #3e65a2;
}

.edit-button{
    background-color: #182a49;
    color: #c1e2ff;
}

.edit-button:hover{
    background-color: #2e4773;
}

.delete-button{
    background-color: #5e2d34;
}

.delete-button:hover{
    background-color: #c0283f;
}

.task-actions button {
    margin-left: 5px;
    padding: 5px 10px;
    font-size: 14px;
}

#clear-completed {
    display: block;
    margin: 20px auto 0;
    background-color: #7d2d31;
}

#clear-completed:hover{
    background-color: #c0283f;
}